.tag-list {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  @media (max-width: 700px) {
    flex-wrap: nowrap;
    display: block;
    width: auto;
    white-space: nowrap;
  }
}

.tag-list-label {
  display: inline-block;
  margin-right: 5px;
}

.tag-list.no-skills {
  color: #D1D3D4;
}
