@import 'topcoder/tc-includes';

.user-track-item {
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 13px;
  font-weight: 600;
  color: $white;
  &:last-child {
    margin-right: 0;
  }

  .track-name {
    font-size: 14px;
    line-height: 16px;
  }
}

.user-track-item.track-design {
  background-color: #21B2F1;
}

.user-track-item.track-develop {
  background-color: #05C14F;
}

.user-track-item.track-data_science {
  background-color: #FC9A00;
}

.user-track-item.track-copilot {
  background-color: #9D9FA0;
  font-size: 14px;

  .track-copilot-code {
    color: #CECFD0;
    margin-left: 4px;
    font-size: 12px;
    line-height: 14px;
  }
}

.user-track-item.no-track {
  background-color: #f0f0f0;
}
