@import 'topcoder/tc-includes';

.member-item {
  display: flex;
  max-width: 960px;
  @media (max-width: 700px) {
    display: block;
  }
  // FIXME Shouldn't go on exact member match
  &:not(:last-child) {
    border-bottom: 1px solid $accent-gray;
  }
}

.exact-match {
  margin: 20px auto 0;
}
