.skill-item.skill-match {
  .skill-hash,
  .skill-text {
    color: #323638;
  }
}

.skill-item {
  position: static;

  .skill-text:hover,
  .skill-text.special-tag:hover {
    color: #0096FF;
    cursor: pointer;
  }

  .skill-text.special-tag {
    color: #B47DD6;
  }
}

.skill-hash {
  // margin added on top of what we got from submissions, change!!!
  margin-left: 5px;
  color: #d1d3d4;
}

.skill-text {
  color: #737380;
}
