@import '~tc-ui/src/styles/tc-includes';

.subtrack-code-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  @include roboto;
  @include tc-label;
  font-weight: bold;
  color: $tc-gray-neutral-light;
  @include tc-track-background-colors;
  border-radius: 50%;
}
