@import 'topcoder/tc-includes';

.subtrack-code-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  font-family: 'Roboto', Arial;
  font-size: 13px;
  font-weight: bold;
  color: #FAFAFB;
  border-radius: 50%;
  background-color: #21B2F1;
}
